<div class="outputText">
  <h3>Collection Report: <span class="reportText"><strong>Reduced by 48%</strong></span> -&#38;-<span class="reportText"> 138 Fewer Lines</span></h3>
</div>

<div class="results">
  <div class="actionButtons">
    <button id="btn_compare">Compare"</button>
    <button id="btn_copy">Copy"</button>
    <button id="btn_download">Download"</button>
  </div>
  <div class="formats">
    <ul>
      <li class="cssButton"><a href="#tab-css">CSS</a></li>
      <li class="sassButton"><a href="#tab-sass">Sass</a></li>
    </ul>
    <textarea id="tab-css" readonly="readonly">
      html {
        margin: 0;
        padding: 0;
      }
      body {
        font: 75% georgia, sans-serif;
        line-height: 1.88889;
        color: #555753;
        background: #fff url(blossoms.jpg) no-repeat bottom right;
        margin: 0;
        padding: 0;
      }
      p {
        margin-top: 0;
        text-align: justify;
      }
    </textarea>
    <textarea id="tab-sass" readonly="readonly">
      html
        margin: 0
        padding: 0

      body
        font: 75% georgia, sans-serif
        line-height: 1.88889
        color: #555753
        background: #fff url(blossoms.jpg) no-repeat bottom right
        margin: 0
        padding: 0

      p
        margin-top: 0
        text-align: justify
    </textarea>
  </div>
</div>
