<div class="content">
  <div class="feature">
    <img src="assets/magnify.svg" />
    <legend><a href="#">Examines Your Site</a></legend>
    <p>
    The trashman examines your site's live DOM and reverse engineers a
    new, more elegant definition that captures styles down to the pixel.
    </p>
  </div>
  <div class="arrowRight">
    <img src="assets/borderarrow.svg" />
  </div>
  <div class="feature">
    <img src="assets/brackets.svg" />
    <legend><a href="#">Compacts Style</a></legend>
    <p>
    Wipe your old CSS clean and download replacement styles for a
    harmonious new beginning. Say goodbye to convoluted crufty style.
    </p>
  </div>
  <div class="arrowRight">
    <img src="assets/borderarrow.svg" />
  </div>
  <div class="feature">
    <img src="assets/arrow.svg" />
    <legend><a href="#">Provides New CSS</a></legend>
    <p>
    The generated CSS (or Sass) will be customized for your site and
    ready to be downloaded and dropped into place.
    </p>
  </div>
</div>
