<footer>
  <div class="poweredby">
    Powered by <a href="https://github.com/begriffs/css-ratiocinator">CSS-Ratiocinator</a><br />
    Created by <a href="https://twitter.com/begriffs">@begriffs</a>,
    <a href="https://twitter.com/missingdink">@missingdink</a>, and
    <a href="https://twitter.com/michaeljfunk">@michaeljfunk</a>
  </div>
  <div class="share">
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_googleplus_hcount' displayText='Google +'></span>
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_email_hcount' displayText='Email'></span>
  </div>
</footer>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-60c04523-e5ec-1b3c-ee76-91d64cbab4d4"});</script>
