<% if @style.css.nil? %>
  <div class="loading">
    <div class="truckanimation">
      <img src="/assets/truck.svg" />
      <img src="/assets/wheel-1.svg" class="spinner wheel1"/>
      <img src="/assets/wheel-2.svg" class="spinner wheel2"/>
      <h3>Calculating...</h3>
    </div>
  </div>
  <script type="text/javascript">
    function checkDone() {
      $.getJSON(document.location.pathname + '/done', function(data) {
        if(data['done']) {
          document.location.reload(true);
        }
      });
    };
    window.setInterval(checkDone, 4000);
  </script>
<% else %>
  <div class="outputText">
    <h3>Results for <span class="reportText"><%= @style.url %></span></h3>
  </div>

  <div class="results">
    <div class="formats">
      <ul>
        <li class="cssTab"><a href="#tab-css">CSS</a></li>
        <li class="sassTab"><a href="#tab-sass">Sass</a></li>
      </ul>
      <div class="actionButtons">
        <button id="btn_compare">Compare</button>
        <a href="<%= @style.id %>.css"><button id="btn_download">Download</button></a>
      </div>
      <div id="tab-css" readonly="readonly">
        <pre class="cssCode"><code class="language-css"><%= @style.css %></code></pre>
      </div>

      <div id="tab-sass" readonly="readonly">
        <pre class="cssCode"><code class="language-css"><%= @style.sass %></code></pre>
      </div>
    </div>
  </div>
<% end %>
