.outputText{
  text-align: center;
  margin: 30px;
  color: #999;
  h3{
    text-transform: uppercase;
    .reportText{
      color: black;
    }
  }
}
.formats {
  position: relative;
  width: 800px;
  margin: 0 auto;
  textarea {
    width: 800px;
    height: 800px;
    display: block;
    border: 2px solid #eee;
    border-radius: 6px;
    padding: 10px 20px;
    z-index: 9999;
    position: relative;
  }
  ul {
    list-style-type: none;
    margin: -2px 0;
    li{
      width: 125px;
      height: 50px;
      border: 2px solid #eee;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      background-color: #f5f5f5;

      a {
        text-decoration: none;
        color: #bd5037;
        font-size: 16px;
        font-weight: bold;
      }


      &.cssTab {
        border-radius: 8px 0 0;
      }

      &.sassTab {
        border-radius: 0 8px 0 0;
        margin: 0 -5px;
      }
    }
  }
}

.results {
  .actionButtons {
    float: right;
    margin: -5px 10px;
    button {
      width: 100px;
      height: 35px;
      margin: 0 6px;
      background-color: #faebe6;
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
      border: 2px solid #eee;
      border-radius: 8px;
    }
  }
}


  /*.actionButtons {*/
    /*float: right;*/
    /*margin: -5px 0;*/
    /*button {*/
      /*width: 100px;*/
      /*height: 35px;*/
      /*margin: 0 6px;*/
      /*background-color: #faebe6;*/
      /*font-size: 12px;*/
      /*text-transform: uppercase;*/
      /*color: #000;*/
      /*border: 2px solid #eee;*/
      /*border-radius: 8px;*/
    /*}*/
    /*&.actionButton:hover {*/
      /*background-color: #e08566;*/
    /*}*/
  /*}*/
/*}*/
/*}*/
