.outputText{
  text-align: center;
  margin: 30px;
  color: #999;
  h3{
    text-transform: uppercase;
    .reportText{
      color: black;
    }
  }
}
.formats {
  position: relative;
  width: 800px;
  margin: 0 auto;
  div#tab-css, div#tab-sass {
    width: 760px;
    height: 800px;
    display: block;
    border: 2px solid #eee;
    border-radius: 6px;
    padding: 10px 20px;
    position: relative;
    overflow: scroll; 
  }
  ul {
    list-style-type: none;
    margin: -2px 0;
    float: left;
    position: relative;
    top: 1px;
    z-index: 2;
    li{
      width: 125px;
      height: 50px;
      border: 2px solid #eee;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      background-color: #f5f5f5;
      a {
        text-decoration: none;
        color: #bd5037;
        font-size: 16px;
        font-weight: bold;
        display: block;
        outline: none;
      }

      &.cssTab {
        border-radius: 8px 0 0;
      }

      &.sassTab {
        border-radius: 0 8px 0 0;
        margin: 0 -5px;
      }

      &.ui-state-active {
        background: white;
        border-bottom: 1px solid white;
      }
    }
  }
}

.results {
  margin-bottom: 100px;
  .actionButtons {
    display: inline-block;
    float: right;
    width: 350px;
    button {
      width: 100px;
      height: 35px;
      margin: 0 6px;
      background-color: #faebe6;
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
      border: 2px solid #eee;
      border-radius: 8px;
    }
  }
}
